.tiptap {
    .embed.ProseMirror-selectednode {
        @apply outline-2 outline-offset-2 outline-dashed outline-gray-950/20 dark:outline-white/20;
    }
}

.fi-fo-rich-editor {
    .exit-fullscreen {
        @apply hidden;
    }

    .fullscreen {
        @apply fixed inset-0 z-40 bg-white dark:bg-gray-900 flex flex-col;

        .enter-fullscreen {
            @apply hidden;
        }

        .exit-fullscreen {
            @apply block;
        }

        .fi-fo-rich-editor-main {
            @apply overflow-hidden flex-1;

            .fi-fo-rich-editor-content {
                @apply overflow-y-auto;

                .tiptap {
                    @apply h-auto min-h-full;
                }
            }
        }
    }

    &.has-max-height {
        @apply flex flex-col;

        .fi-input-wrp-content-ctn {
            @apply h-full;

            > div {
                @apply h-full flex flex-col;

                .fi-fo-rich-editor-main {
                    @apply overflow-hidden flex-1;

                    .fi-fo-rich-editor-content {
                        @apply overflow-y-auto;

                        .tiptap {
                            @apply h-auto min-h-full;
                        }
                    }
                }
            }
        }
    }

    .display-as-label {
        @apply px-2 flex items-center gap-1;

        > svg {
            @apply size-3;
        }
    }

    .fi-fo-rich-editor-custom-block-preview:has(.phiki) {
        @apply p-0;

        pre {
            @apply p-4;
        }
    }
}

html.dark .phiki,
html.dark .phiki span {
    color: var(--phiki-dark-color) !important;
    background-color: var(--phiki-dark-background-color) !important;
    font-style: var(--phiki-dark-font-style) !important;
    font-weight: var(--phiki-dark-font-weight) !important;
    text-decoration: var(--phiki-dark-text-decoration) !important;
}
