name: 'Fix PHP Code Styling'

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches:
      - 2.x
    paths:
      - '**.php'

permissions:
  contents: write

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3

      - name: Install dependencies
        run: composer install --no-interaction

      - name: Run Rector
        run: composer refactor

      - name: Run Pint
        run: composer lint

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Format Code"
          commit_user_name: 'GitHub Actions'
